
/* @import "bootstrap/dist/css/bootstrap.min.css"; */




.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  }
  /*
  .div1 { 
    grid-area: 1 / 1 / 6 / 7; 
    background-color: black;
    background-image: url("https://media1.giphy.com/media/QX7JDMmfY5Pz3REnim/giphy.gif?cid=790b7611782e82d7417e159202ed08e2b2b9eecfab8c7104&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    height: 100vh;
    border:0px;
    margin:0px;
    align-items: center;
    justify-content: space-around;
  }
  */
  
 .rum {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

 }
  
 
 .button {
    margin: 0 auto;
    padding-left: 275px;
    padding-right: 275px;
    max-width: 400px;
  }

