
.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  }
  
  .div1 { 
    grid-area: 1 / 1 / 6 / 7; 
    background-color: black;
    background-image: url("https://media1.giphy.com/media/QX7JDMmfY5Pz3REnim/giphy.gif?cid=790b7611782e82d7417e159202ed08e2b2b9eecfab8c7104&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    height: 100vh;
    border:0px;
    margin:0px;
    align-items: center;
    justify-content: space-around;
  
  }

  .div2 { 
    grid-area: 2 / 2 / 3 / 6; 
    text-align: center;
   
  
  }

  .div3 { 
    grid-area: 4 / 2 / 5 / 3; 
    display: inline-block;
    text-align: center;

    
    
  }

  .div4 { 
    grid-area: 4 / 3 / 5 / 4; 
    display: inline-block;
    justify-content: center;
   
  }

  .div5 { 
    grid-area: 4 / 4 / 5 / 5; 
    display: inline-block;
    justify-content: center;
   

  }

  .div6 { 
    grid-area: 4 / 5 / 5 / 6; 
    display: inline-block;
    justify-content: center;
    
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    padding-top: 500px;
    padding-left: 400px;
    padding-right: 400px;

  }