html{
  background-color: lightcyan;

}
#drink-page-text{
  color:cadetblue;
}
.drink-title{
  font-size: 40px;
}
.mainpage{
  background-image: url("https://media1.giphy.com/media/QX7JDMmfY5Pz3REnim/giphy.gif?cid=790b7611782e82d7417e159202ed08e2b2b9eecfab8c7104&rid=giphy.gif&ct=g");
  background-size:100% 100vh;
  margin:0px;
  background-repeat: no-repeat;
  height:100vh;
}
.title-container{
  text-align: center;
  padding: 50px 250px 50px 250px;
  max-width: 900px;
  margin: 0 auto;

}
.drink-container{
  background-color: lightcyan;
}
.title-page-img{
  text-align: center;
  display: flex;
  justify-content: center;
  background-color:cadetblue;
  color:pink;
  border: 5px solid lightgray;
  border-radius: 50rem;
  padding:0 80px 0 30px;
  font-family: 'Caveat', cursive;
  font-size:150px;
  margin:0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  font-family: 'Caveat', cursive;
  font-size: x-large;
  color: cadetblue;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(10px, 50px);
  grid-gap: 1rem;
  margin: 0 auto;
  margin-left: 0;
  margin-right: 0;
  max-width: 1200px;
  padding: 1rem;
  grid-auto-rows: auto;
}

.drinks{
  background-color: aliceblue;
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.img {
  align-items: center;
  display: flex;
  justify-content: center;
}

.img2{
  text-align: center;
  padding-bottom: 10px;
  
}

.drinkName{
text-align: center
}
.details-container{
 
  text-align: center;
  background-color:lightcyan;
  background-size:100%  100vh;
  margin:0px;
  background-repeat: no-repeat;
  height:100vh;

}
.ingredients{
  background-color: aliceblue;
  text-align:center;
  padding: 0;
  border: 1px solid lightgray;
  border-radius: 1rem;
}
.ingredientsHead {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: large;
  text-align: center;
}
.drink-ing {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 5%;
 
}
.drink-title-pic{
  font-family: 'Lobster', cursive;
  color:cadetblue;
  font-size: larger;
  padding-left: 30%;
  padding-top: 75px;  
}
.details-image{
  padding-top: 10px;
}

.ingredients-body{
  padding-top: 120px;
  padding-right: 20%;
  

}
.instructions{
  background-color: aliceblue;
  display:flex;
  text-align: center;
  flex-direction: column;
  text-align: center;
  border:1px solid lightgray;
  border-radius: 1rem;
}
.text{
  padding:0 20px 0 20px;
}
.instructions-body{
  padding-top:50px;
  padding-left:12%;
  padding-right:70px;
}
.header{

  background-color:cadetblue;
  color: white;
  font-family: 'Caveat', cursive;
  font-size: xxx-large;
  padding-left: 50px;
  margin:0;
}
.mp-header-container{
  padding-top: 10vh;
  padding-left: 250px;
  padding-right: 250px;
}
.mp-header{
  padding: 0px;
  font-size: 33px;
  background-color: cadetblue;
  font-family: 'Caveat', cursive;
  border: 1px solid lightgray;
  border-radius: 1rem;
  max-width: 450px;
  margin: 0 auto;
}
.mp-header-content{
  text-align:center;
}
.header-content{
  display: flex;
  justify-content: space-between;
}
.header-image{
  padding-left: 50px;
  padding-top: 10px;
  margin: 0px;
}
.btns{
  padding-top: 50px;
}

.all {
  display: grid;
  max-width: 1000px;
  margin:0 auto;
}
a {
  text-decoration: none;
  color:cadetblue;
}
.clink{
  color: pink;
}
.drink-head{
  font-size: x-large;
  display: flex;
  padding-top: 15px;
  align-items: center;
  padding-right: 25px; 

}
.drink-link-head{
  margin-bottom: 10px;
  color:pink;
}
.how-to {
font-size: 20px;
}

@media screen and (max-width:415px){
  .container{
    font-family: 'Caveat', cursive;
    font-size: x-large;
    color: cadetblue;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(10px, 50px);
    grid-gap: 1rem;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
    max-width: 1200px;
    padding: 1rem;
    grid-auto-rows: auto;
    
  }
  .drinks{
    background-color: aliceblue;
    border: 1px solid lightgray;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .drink-head{
    font-size: 20px;
    padding-right: 10px;
    align-items: center;
  }
  .mp-header-container{

    margin: 0 auto;
    max-width: 320px;

}
  .mp-header{
    font-size: 23px;

    
  }
  .slider{
    width:200px;
    margin:0 auto;
  }
}

@media screen and (max-width:880px){
  .title-page-img{
    width:300px;
    margin: 0 auto;
    padding-right: 50px;
    font-size:100px;
}
  .title-container{
    padding: 50px 20px 50px 20px;
}
  .mp-header-container{
    padding-top: 10vh;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    width: 450px;
}
.details-image{
    padding-top: 10px;
}


}
@media screen and (max-width:850px){
  .how-to{
    font-size: 18px;
  }
  .details-container{
    margin:0 auto;
    height: 120vh;
    min-width: none;
    text-align: center;
  }

  .header {
    padding-left: 5px;
  }
  .clink{
    font-size: xx-large;
    
  }
  .drink-link-head{
    font-size: large;
  }
  .details-image{
    
    height: 200px;
    
  }
  .drink-title-pic{
 
    text-align: center;
    padding-left:0px;
    width: 300px;
  }
  .ingredients{
    width: 300px;
  }
  .all{
    margin:0 auto;
    display:contents ;
    width: 300px;
  }
  .drink-ing{
    margin:0 auto;
    padding-left: 0px;
    display: block;
    width:300px;
 
  }
  .ingredgients-body{
    margin:0 auto;
    padding-top: 30px;
    width: 300px;
  }
  .instructions-body{
    margin:0 auto;
    padding: 0px;
    width: 300px;
  }
  .btns{
    display: none;
  }
  
}