
html{
  background-color: pink;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  background-color: pink;
  font-family: 'Caveat', cursive;
  font-size: x-large;
  color: navy;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(10px, 50px);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  grid-auto-rows: auto;
}

.drinks{
  background-color: aliceblue;
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: grid;
  /* grid-template-rows: 2fr 1fr; */
}
.img {
  align-items: center;
  display: flex;
  justify-content: center;
}
.drinkName{

  /* border-radius: 0 0 1rem 1rem; */
  margin: 0;
  /* padding: 1rem; */
  text-align: center;
}
.details-container{
  text-align: center;
  background-color:lightcyan;
  /* background-image: url("https://media1.giphy.com/media/QX7JDMmfY5Pz3REnim/giphy.gif?cid=790b7611782e82d7417e159202ed08e2b2b9eecfab8c7104&rid=giphy.gif&ct=g"); */
  background-size:100% 100vh;
  margin:0px;
  background-repeat: no-repeat;
  height:100vh;
  /* min-width: 840px; */
  /* color: white; */
  /* display: flex; */
}
.ingredients{
  background-color: aliceblue;
  /* font-weight: bold; */
  text-align: center;
  padding: 0;
  border: 1px solid lightgray;
  border-radius: 1rem;
}
.ingredientsHead {
  font-family: 'Roboto Slab', serif;
  font-size: large;
  text-align: center;
}
.drink-ing {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 5%;
 
}
.drink-title-pic{
  font-family: 'Lobster', cursive;
  color: navy;
  font-size: larger;
  padding-left: 30%;
  padding-top: 40px;
  /* font-family: 'Caveat', cursive; */
  
}
.ingredgients-body{
  padding-top: 100px;
  padding-right: 20%;
  

}
.instructions{
  background-color: aliceblue;
  display:grid;
  text-align: center;
  position:relative;
  /* width: 600px; */
  border: 1px solid lightgray;
  border-radius: 1rem;
  /* padding-right:2rem; */
}
.instructions-body{
  padding: 50px 7% 0 12%;
}
.header{

  background-color: lightblue;
  color: white;
  font-family: 'Caveat', cursive;
  font-size: xxx-large;
  padding-left: 50px;
  margin:0;
}
.header-content{
  display: flex;
  justify-content: space-between;
}
.header-image{
  padding-left: 50px;
  padding-top: 10px;
  margin: 0px;
}
.btns{
  padding-top: 50px;
}
.all {
  display: grid;

}
a {
  text-decoration: none;
  color: navy;
}
.drink-head{
  font-size: x-large;
  display: flex;
  align-items: flex-end;
  padding-right: 25px; 
  margin:o;
}
.drink-link-head{
  margin-bottom: 10px;
  color: navy;
}
@media screen and (max-width:700px){
  .details-container{

    height: 120vh;
    min-width: none;

    text-align: center;
  }
  html{
    width: 375px;
    max-height: 700px;
  }
  .header {
    padding-left: 5px;
  }
  .clink{
    font-size: xx-large;
  }
  .drink-link-head{
    font-size: large;
  }
  .details-image{
    height: 200px;
    
  }
  .drink-title-pic{
    text-align: center;
    padding-left:0px;
    width: 300px;
  }
  .ingredients{
    width: 300px;
  }
  .all{
    
    display:contents ;
    width: 300px;
  }
  .drink-ing{
    padding-left: 30px;
    display: block;
    width:300px;
    margin: 0;
  }
  .ingredgients-body{
    padding: 0 0 0 0;
    width: 300px;
  }
  .instructions-body{
   
    padding: 0 0 0 30px;
    width: 300px;
  }
  .btns{
    display: none;
  }
  
}